<!-- Drawer for small screen -->
<div class="mdl-layout__drawer">
  <span class="mdl-layout-title"><%= SITE_NAME %></span>
  <nav class="mdl-navigation">
    <a class="mdl-navigation__link" href="">Link</a>
    <a class="mdl-navigation__link" href="">Link</a>
    <a class="mdl-navigation__link" href="">Link</a>
    <a class="mdl-navigation__link" href="">Link</a>
  </nav>
</div>
